@import "./layout.css";
@import "login.css";
@import "./home.css";
@import "./notes.css";
@import "./boards.css";
@import "./settings.css";

@font-face {
	font-family: "Roboto-Regular";
	src: url("/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
	font-family: "Roboto-Bold";
	src: url("/fonts/Roboto/Roboto-Bold.ttf");
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	font-family: Roboto-Regular, sans-serif;
	color: white;
	background-color: rgb(31 41 55);
}

#root {
	display: flex;
}

.input {
	@apply p-[0.5em] bg-gray-700 rounded-[0.4em];
}

.button {
	@apply w-full bg-gray-700 hover:bg-blue-400 text-white rounded-[0.4em] p-[0.5em] cursor-pointer;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
